<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJOZQNCJcYk5DV5AZ7JiXPxdpUi8vXvcA</string>
	<key>GCM_SENDER_ID</key>
	<string>996426686783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPjt</string>
	<key>PROJECT_ID</key>
	<string>flutter-pjt-41937</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-pjt-41937.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996426686783:ios:123b192da310e4e0c0738a</string>
</dict>
</plist>